<html>

<head>
  <%- include('./includes/head', { siteTitle: `${post.title} | ${themeConfig.siteName}` }) %>
</head>

<body>
  <div class="main">
    <div class="main-content">
      <%- include('./includes/nav') %>

      <div class="post-detail">
        <article class="post">
          <% post.tags.forEach(function(tag) { %>
          <div class="post-tag">
            <svg class="tag-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M7 7h.01M7 3h5a1.99 1.99 0 011.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z">
              </path>
            </svg>
            <a href="<%= tag.link %>" class="tag">
              <%= tag.name %>
            </a>
          </div>
          <% }); %>
          <h2 class="post-title">
            <%= post.title %>
          </h2>

          <div class="post-info">
            <svg class="post-date" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="16" height="16">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
            </svg>
            <time class="post-time">
              <%= post.dateFormat %>
            </time>
            <svg fill="none" class="view-icon" viewBox="0 0 24 24" stroke="currentColor" width="16" height="16">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z">
              </path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z">
              </path>
            </svg>
            <span id="/<%= post.fileName %>/" class="leancloud_visitors" data-flag-title="<%= post.title %>">
              <span class="leancloud-visitors-count"></span><span> 次阅读</span>
            </span>
            <span>
              <%= post.stats.text %>
            </span>
          </div>

          <% if (themeConfig.showFeatureImage && post.feature) { %>
          <div class="post-feature-image" style="background-image: url('<%= post.feature %>')">
          </div>
          <% } %>
          <div class="post-content">
            <%- post.content %>
          </div>
        </article>
      </div>

      <div class="near-post">
        <div>
          <% if (post.prevPost && !post.hideInList) { %>
          <div class="prev-post">
            <div class="prev">上一篇</div>
            <a href="<%= post.prevPost.link %>">
              <h3 class="post-title">
                <span>
                  <%= post.prevPost.title %>
                </span>
              </h3>
            </a>
          </div>
          <% } %>
        </div>
        <div>
          <% if (post.nextPost && !post.hideInList) { %>
          <div class="next-post">
            <div class="next">下一篇</div>
            <a href="<%= post.nextPost.link %>">
              <h3 class="post-title">
                <span>
                  <%= post.nextPost.title %>
                </span>
              </h3>
            </a>
          </div>
          <% } %>
        </div>
      </div>

      <% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
      <% if (commentSetting.commentPlatform === 'gitalk') { %>
      <%- include('./includes/gitalk') %>
      <% } %>

      <% if (commentSetting.commentPlatform === 'disqus') { %>
      <%- include('./includes/disqus') %>
      <% } %>
      <% } %>

      <div class="valine">
        <% if(typeof site.customConfig.valine !=='undefined' && site.customConfig.valine) { %>
        <%- include('./includes/valine') %>
        <% } %>
      </div>

      <%- include('./includes/footer') %>
    </div>
  </div>
</body>

</html>