<html>

<head>
  <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
</head>

<body>
  <div class="main">
    <div class="main-content">
      <%- include('./includes/nav') %>

      <%- include('./includes/header') %>

      <div class="tags-container">
        <% tags.forEach((tag) => { %>
        <div class="tag-list">
          <svg class="tag-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M7 7h.01M7 3h5a1.99 1.99 0 011.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z">
            </path>
          </svg>
          <a class="tag" href="<%= tag.link %>">
            <%= tag.name %>
          </a>
        </div>
        <% }); %>
      </div>

      <%- include('./includes/footer') %>
    </div>
  </div>
</body>

</html>